.container2 {
	position: absolute;
	width: 100%;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	top: 88px;
	background: #ffdb6f;
	height: 4400px;
}
.home-header {
	font-family: "Abel";
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 61px;
	margin-top: 36px;
	color: #ffffff;
	text-align: center;
}

.home-header span {
	color: #644a0a;
}
.home-text {
	height: 68px;
	text-align: center;
	font-family: "Abel";
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 61px;
	color: #ffffff;
}
.emailPart {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-items: center;
	width: 80%;
	position: absolute;
	height: 54px;
	top: 301px;
	left: 10%;
}
.emailPart p {
	font-family: "Abel";
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 61px;
	color: #ffffff;
	margin-right: 100px;
}
.emailIn {
	flex-grow: 1;
	height: fit-content;
	font-family: "Abel";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 31px;
	color: #6f6a6a;
	margin-bottom: 40px;
}
.roleGroup {
	width: 80%;
	position: absolute;
	height: 37.76px;
	top: 406px;
	left: 10%;

	/* or 92% */

	/* Character/Title .85 */

	color: rgba(0, 0, 0, 0.85);
}
.role {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 22px;
	margin-right: 123px;
}
.formsPart {
	position: absolute;
	top: 735px;
	left: 10%;
	width: 80%;
	background: #fffbfb;

	border-radius: 10px;
}
.trainpart {
	min-height: 500px;
}
.buildpart {
	overflow-x: hidden;
}
.steps {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	position: absolute;
	top: 478px;
	left: 10%;
	width: 80%;
}

.step0 {
	width: 314px;
	height: 244px;
}
.step {
	width: 332px;
	height: 257px;
}

.applySubmit2 {
	font-weight: 400;
	font-size: 23px;
	background: #e4bb4f;
	text-align: center;
	color: white;
	cursor: pointer;
	text-align: center;
	width: fit-content;
	font-family: "Roboto";
	font-style: normal;
	width: 500px;
	height: 70px;
	line-height: 70px;
	/* identical to box height */

	color: #ffffff;
}
.btnContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 50px;
}
.testbtn {
	padding: 0 20px;
	height: 27px;
	position: absolute;
	right: 18%;
	bottom: 18%;
	background: #e4bb4f;
	border-radius: 10px;
	text-align: center;
	color: white;
	cursor: pointer;
	text-align: center;
}
.error {
	font-weight: 600;
	color: red;
}

.hide {
	display: none;
}
h1 {
	color: white;
}
