.home-background {
	background-color: #f8d15b;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.home-content {
	width: 80%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
}

.home-text-container {
	text-align: center;
	height: fit-content;
}

.home-header {
	color: white;
	font-weight: bold;
	font-size: 48px;
}

.home-header span {
	color: #644a0a;
}
.home-text {
	color: white;
	font-family: Abel;
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
}
.buttons-container {
	display: flex;
	flex-direction: row;
}
.applyCon,
.loginCon {
	width: 220px;
	background-color: white;
	text-align: center;
	color: #a58123;
	font-size: 170%;
	line-height: 180%;
	margin: 10px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
}
.applyImage {
	width: 160px;
	object-fit: contain;
	margin-top: 15px;
}
.logo {
	height: 60vh;
	width: 60vh;
}

.focus-for-health {
	position: absolute;
	bottom: 8px;
	right: 16px;
	font-size: 18px;
	width: 40vh;
}

@media only screen and (max-width: 1024px) {
	.logo {
		height: 20vh;
		width: 20vh;
	}
	.home-content {
		height: fit-content;
	}
	.home-background {
		height: 100%;
		width: 100%;
	}
	.home-header {
		font-size: 5vh;
	}
}

@media (max-width: 600px) {
	.buttons-container {
		flex-direction: column;
	}
}
