@import "_app";
.containerr {
	display: flex;
	flex-direction: column;
	background-color: #ffdb6f;
	text-align: center;
}
.home-header {
	padding-top: 20px;
	color: white;
	font-weight: bold;
	font-size: 200%;
}

.home-header span {
	color: #644a0a;
}
.page-background {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 650px;
}

.login-content {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
}

.login-container {
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 60%;
	width: 50%;
	background-color: white;
	padding: 0 2.5%;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.login-text {
	opacity: 60%;
	margin-bottom: 15px;
	padding: 5px 0;
	display: flex;
	color: #644a0a;
	font-weight: bold;
	font-size: 150%;
}

.login-input-container {
	display: flex;
	flex-direction: column;
	border-bottom: 3px solid #828282;
}

.login-input-container__clicked {
	display: flex;
	flex-direction: column;
	border-bottom: 3px solid #e4bb4f;
}

.login-input {
	font-size: 150%;
	margin-left: -1.5%;
	padding-bottom: 5px;
	margin-bottom: 10px;
	background-color: white !important;
}

.login-register-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.login-register-link,
.login-register-link:focus {
	background: none;
	border: none;
	color: $mentee-button-regular;
	text-decoration: underline;
	margin-left: 5px;
	transition-duration: 0.4s;
}

.login-register-link:hover {
	color: $register-link-hover;
	text-decoration: underline;
}

.login-error {
	color: red;
}

.account-help-container {
	text-align: center;
	margin-top: 10px;
	padding-bottom: 10px;
	opacity: 70%;
}

.account-link {
	display: flex;
	justify-content: center;
}

.login-register-link,
.login-register-link:focus {
	background: none;
	border: none;
	color: $mentee-button-regular;
	text-decoration: underline;
	margin-left: 5px;
	transition-duration: 0.4s;
}

.login-register-link:hover {
	color: $register-link-hover;
	text-decoration: underline;
}

@media (max-width: 768px) {
	.login-container {
		height: 60%;
		width: 90%;
	}
}
