.background {
	padding: 10px;
}
.container {
	width: 100%;
}
.page-one-column-container {
	width: 100%;
	padding: 5px;
	margin-bottom: 30px;
}
.page-one-column-container form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
}
.page-one-column-container form > div {
	width: 700px;
	font-size: 1.4rem;
	color: white;
}

.donation-question {
	overflow-wrap: break-word;
}

.donation-question {
	overflow-wrap: break-word;
}

.input-form {
	font-size: 1.4rem;

	padding: 10px 4px;
	margin: 10px 4px;
	overflow: auto;
}

.background {
	background-color: #fcf6e8;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.welcome-page {
	color: #e4bb50;
}

.ant-steps-item-wait
	.ant-steps-item-icon
	> .ant-steps-icon
	.ant-steps-icon-dot {
	background: #ffecbd;
}

.ant-steps-item-finish
	.ant-steps-item-icon
	> .ant-steps-icon
	.ant-steps-icon-dot {
	background-color: #ffecbd;
}

.ant-steps ant-steps-horizontal ant-steps-label-vertical ant-steps-dot {
	display: flex;
	justify-content: flex-end;
}
.submit-button {
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

// mobile
@media (max-width: 800px) {
	.page-one-column-container {
		flex-direction: column;
	}

	.page-one-column-container form > div {
		width: 100%;
	}
}
.error {
	color: red;
	text-align: center;
	font-size: medium;
	font-weight: 400;
	opacity: 70%;
	font-family: Arial, Helvetica, sans-serif;
}
