.page-one-column-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3%;
    padding-top: 1%;

}

.donation-question {
width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.column-one {
    padding:5%;
    padding-bottom:28%;
    width: 600%;    

}

.column-two {
    padding: 5%;
    padding-top:0.5%;
    padding-bottom:3em; 
    width: 800%;  
}

.input-form { 
    padding-bottom:10%;
}

.input-form-two { 
    padding-bottom:15%;
}

.next-button {
    display: flex;
    align-self: right;
}