.page-one-column-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3%;
    padding-top: 1%;

}

.donation-question {
width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.column-one {
    padding:5%;
    padding-bottom:70%;
    width: 600%;    

}

.column-two {
    padding: 5%;
    padding-top:5%;
    padding-bottom:40%; 
    width: 800%;  
}

