.app-modal {
  width: 60vw !important;
}

.view-container {
  padding: 3em;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-container {
  width: 60%;
}

.double-info-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 0em;
}

.single-info-section {
  margin: 1em 0em;
  width: 50%;
}

.question {
  color: gray;
}

.status-container {
  width: 40%;
}

.notes-container {
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 7px;
  padding: 26px;
}

.notes-title {
  color: #828282;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.note-wrap {
  background: #ffecbd;
  border-radius: 7px;
  padding: 1em;
  width: 100%;
}

.progress-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1em;
}

.progress-section {
  width: 100%;
  height: 1.75em;
  border: 1px solid #7a7a7a;
}

.progress-title {
  color: #979797;
  font-size: 0.75em;
}

.selected {
  background-color: #e4bb4f;
}
