.mentor-portal-calendar{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 290px;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    font-family: Helvetica;
    overflow-y: auto;
    overflow-x: hidden;
}

.italics{
    font-style: italic;
}
#events{
    text-align: left;
}

#event-header{
   color: #A58123;
}

#day-color{
    color: #E4BB4F;
}