@import "_app";

.messages-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.messages-sidebar-background {
    background-color: white;
}
.messages-sidebar {
  overflow: auto;
  width: 100%;
  height: 85%;
}

.messages-sidebar-header {
  background-color: white;
  overflow-y: auto;
  margin-left: 10%;
  margin-top: 5%;
  font-size: 3ch;
}

.messages-chat-area {
  background-color: white;
  margin-left: 0px;
}

.chat-area-divider {
  height: 100%;
  margin-left: 0px;
}

.message-card {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}

.messages-search-input {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.header-divider {
    margin-top: 1em;
    margin-bottom: 1em;
}
