@import "_app";

.messages-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.messages-sidebar-background {
    background-color: white;
}
.messages-sidebar {
  overflow: auto;
  width: 100%;
  height: 85%;
}

.messages-sidebar-header {
  background-color: white;
  overflow-y: auto;
  margin-left: 10%;
  margin-top: 5%;
  font-size: 3ch;
}

.messages-chat-area {
  background-color: white;
  margin-left: 0px;
}

.chat-area-divider {
  height: 100%;
  margin-left: 0px;
}

.message-card {

  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 7px;
}

.message-card:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

.message-active-card {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  background: rgba(249, 220, 132, 0.3);
  border: 1px solid #F9DC84;
  box-sizing: border-box;
  border-radius: 7px;
}

.message-card-description {
  color: #707C97;
}



.messages-search-input {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.header-divider {
    margin-top: 1em;
    margin-bottom: 1em;
}
