.background-color-strip {
    height: 20%;
    background: #FCF6E8;
}

.edit-profile-button {
    background: #E4BB4F;
    color: #FFFFFF;
    border-radius: 13px;
}

.specialization-tag {
    background: #FFFFFF;
    border: 3px solid #FFECBD;
    border-radius: 13px;
}
