.modal-container {
    display: flex;
    height: 300px;
    padding: 10px;
    overflow-y: scroll;
}

.modal-inner-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal-input-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.modal-education-header {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
}

.modal-availability-radios {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.modal-availability-radio-text {
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    color: "#7A7A7A"
}

.modal-education-container {
    display: flex;
    flex-direction: row;
}

.modal-education-sidebar {
    display: flex;
    margin: 5px;
    height: 93%;
    width: 14px;
    border-left: 3px solid #A58123;
}