@import "_app";

.select-login-page {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.select-login-header {
	text-align: center;
	font-size: 2em;
	color: white;
	font-weight: bold;
}

.select-login-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.select-login-elem {
	background-color: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	margin: 4%;
	padding: 2em;
	width: 12vw;
	height: 14vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.select-login-elem:hover {
	transition: 0.4s;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.select-image {
	width: 5vw;
}

.select-text {
	text-align: center;
	color: #a58123;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 5px;
}

@media (max-width: 768px) {
	.select-image {
		width: 15vw;
	}
	.select-login-container {
		flex-direction: column;
		align-items: center;
	}

	.select-login-header {
		font-size: 1.5em;
	}
	.select-login-page {
		height: auto;
		display: block;
	}

	.select-login-elem {
		width: 60%;
		height: auto;
	}

	.select-text {
		margin-top: 1em;
	}
}
