.videos-header {
    background: #fef7e2;
    display: flex;
    flex: auto;
    height: 30%;
    justify-content: space-between;
    position: relative;
}

.videos-header-title{
    position: absolute;
    bottom: 0;
    font-size: 36px;
    font-weight: bold;
    margin-left: 18px;
    margin-bottom: 23px;
}

.edit-videos {
    background: #E4BB4F;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 25px;
    margin-bottom: 23px;
    font-weight: bold;
}
 
.video-submit-card {
    margin-right: 36px;
}

.video-submit-title {
    background: #fef7e2;
}

.filter-card {
    margin-left: 64px;
    width: 33%;
}

.filters {
    display: flex;
}

.videos-container {
    margin-left: 64px;
    background: #FFFDF5;
}